.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #111;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: #f0f0f0;
}

.navbar .navbar-brand svg,
.navbar .navbar-cart svg {
    fill: #111;
}

.navbar .navbar-links a:hover {
    color: #f0f0f0;
}

.navbar .navbar-cart {
    display: flex;
    align-items: center;
}

/* Estilos globales y específicos para Footer y ProductCard */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.item-list-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 10px;
}

.card .price {
    font-size: 1.1rem;
    color: #111;
    margin-bottom: 10px;
}

.card .details-link {
    color: #007bff;
    text-decoration: none;
}

.card .details-link:hover {
    text-decoration: underline;
}