.imagebanner {
  background-image: url("../public/banner.avif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 500px;
}

.imagenfondo {
  background-image: url("banner-2.avif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}